.container {
  max-width: 960px;
  margin: auto;
  background-color: antiquewhite;
  padding: 20px 50px;
  border-radius: 25px;
}

h1 {
  text-align: center;
}

p {
  margin: 100px 0;
  text-align: center;
}

form {
  margin: 100px 0;
  text-align: center;
}

.logout {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  background-color: brown;
}
